<!DOCTYPE html>
<html
  lang="en"
  data-layout="vertical"
  data-topbar="light"
  data-sidebar="dark"
  data-sidebar-size="lg"
  data-sidebar-image="none"
  data-preloader="disable"
>
  <head>
    <%- include('./partials/title-meta', {"title": "Home"})%>

    <!--Swiper slider css-->
    <link href="assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <span> <%- include('./partials/head-css')%></span>
  </head>

  <body data-bs-spy="scroll" data-bs-target="#navbar-example">
    <!-- Begin page -->
    <div class="layout-wrapper landing">
      <%- include('./partials/navbar')%>

      <!-- end navbar -->

      <!-- start hero section -->
      <section class="section job-hero-section bg-light pb-0" id="hero">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-6" style="margin-bottom: 6rem">
              <div>
                <h1 class="display-6 fw-semibold text-capitalize lh-base">
                  Find your next job and build your dream here
                </h1>
                <p class="lead text-muted lh-base mb-4">
                  Find jobs, create trackable resumes and enrich your applications. Carefully crafted after analyzing
                  the needs of different industries.
                </p>

                <ul class="treding-keywords list-inline mb-0 mt-3 fs-13">
                  <li class="list-inline-item text-danger fw-semibold">
                    <i class="mdi mdi-tag-multiple-outline align-middle"></i> Trending Keywords:
                  </li>
                  <li class="list-inline-item"><a href="javascript:void(0)">Design,</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)">Development,</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)">Manager,</a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)">Senior</a></li>
                </ul>
              </div>
            </div>
            <!--end col-->
            <div class="col-lg-4">
              <div class="position-relative home-img text-center mt-5 mt-lg-0">
                <!-- <div class="card p-3 rounded shadow-lg inquiry-box">
                  <div class="d-flex align-items-center">
                    <div class="avatar-sm flex-shrink-0 me-3">
                      <div class="avatar-title bg-soft-warning text-warning rounded fs-18">
                        <i class="ri-mail-send-line"></i>
                      </div>
                    </div>
                    <h5 class="fs-15 lh-base mb-0">Work Inquiry from velzon</h5>
                  </div>
                </div> -->

                <!-- <div class="card p-3 rounded shadow-lg application-box">
                  <h5 class="fs-15 lh-base mb-3">Applications</h5>
                  <div class="avatar-group">
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="Brent Gonzalez"
                    >
                      <div class="avatar-xs">
                        <img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle img-fluid" />
                      </div>
                    </a>
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="Ellen Smith"
                    >
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-danger">S</div>
                      </div>
                    </a>
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="Ellen Smith"
                    >
                      <div class="avatar-xs">
                        <img src="assets/images/users/avatar-10.jpg" alt="" class="rounded-circle img-fluid" />
                      </div>
                    </a>
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                    >
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-success">Z</div>
                      </div>
                    </a>
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="Brent Gonzalez"
                    >
                      <div class="avatar-xs">
                        <img src="assets/images/users/avatar-9.jpg" alt="" class="rounded-circle img-fluid" />
                      </div>
                    </a>
                    <a
                      href="javascript: void(0);"
                      class="avatar-group-item"
                      data-bs-toggle="tooltip"
                      data-bs-trigger="hover"
                      data-bs-placement="top"
                      title="More Appliances"
                    >
                      <div class="avatar-xs">
                        <div class="avatar-title fs-13 rounded-circle bg-light border-dashed border text-primary">
                          2k+
                        </div>
                      </div>
                    </a>
                  </div>
                </div> -->
                <img src="assets/images/job-profile2.png" alt="" class="user-img" />

                <!-- <div class="circle-effect">
                  <div class="circle"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div> -->
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </section>
      <!-- end hero section -->

      <!-- end features -->

      <!-- start services -->
      <!-- start blog -->

      <section class="section" id="blog">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="text-center mb-5">
                <h1 class="mb-3 ff-secondary fw-semibold text-capitalize lh-base">
                  <!-- Our Latest <span class="text-primary">News</span> -->
                  Book tours
                </h1>
                <p class="text-muted mb-4">
                  We thrive when coming up with innovative ideas but also understand that a smart concept should be
                  supported with faucibus sapien odio measurable results.
                </p>
              </div>
            </div>
          </div>
          <!-- end row -->

          <div class="row">
            <% tours.forEach(tour => { %>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-body">
                  <img src="assets/images/small/img-8.jpg" alt="" class="img-fluid rounded" />
                </div>
                <div class="card-body">
                  <!-- <ul class="list-inline fs-14 text-muted">
                    <li class="list-inline-item"><i class="ri-calendar-line align-bottom me-1"></i> 30 Oct, 2021</li>
                    <li class="list-inline-item"><i class="ri-message-2-line align-bottom me-1"></i> 364 Comment</li>
                  </ul> -->
                  <a href="/tour/<%= tour.slug %>">
                    <h5><%= tour.name %></h5>
                  </a>
                  <p class="text-muted fs-14"><%= tour.summary %></p>
                  <p>$<%= tour.price %></p>
                  <p>4.5 ratings</p>

                  <div>
                    <!-- <a href="#!" class="link-success"
                      >Learn More <i class="ri-arrow-right-line align-bottom ms-1"></i
                    ></a> -->
                    <a href="/tour/<%= tour.slug %>">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-body">
                  <img src="assets/images/small/img-6.jpg" alt="" class="img-fluid rounded" />
                </div>
                <div class="card-body">
                 
                  <a href="javascript:void(0);">
                    <h5>The Forest Hiker</h5>
                  </a>
                  <p class="text-muted fs-14">
                    Due to its widespread use as filler text for layouts, non-readability is of great importance: human
                    perception.
                  </p>

                  <p>$999.99</p>
                  <p>4.5 ratings</p>

                  <div>
                    <a href="#!" class="link-success"
                      >Learn More <i class="ri-arrow-right-line align-bottom ms-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-body">
                  <img src="assets/images/small/img-9.jpg" alt="" class="img-fluid rounded" />
                </div>
                <div class="card-body">
              
                  <a href="javascript:void(0);">
                    <h5>The Forest Hiker 2</h5>
                  </a>
                  <p class="text-muted fs-14">
                    Intrinsically incubate intuitive opportunities and real-time potentialities Appropriately
                    communicate one-to-one technology.
                  </p>

                  <p>$999.99</p>
                  <p>4.5 ratings</p>

                  <div>
                    <a href="#!" class="link-success"
                      >Learn More <i class="ri-arrow-right-line align-bottom ms-1"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <% }) %>
          </div>
        </div>

        <!-- end container -->
      </section>
      <!-- end blog -->

      <!-- start cta -->
      <section class="py-5 bg-primary position-relative">
        <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
        <div class="container">
          <div class="row align-items-center gy-4">
            <div class="col-sm">
              <div>
                <h4 class="text-white fw-semibold">Get New Jobs Notification!</h4>
                <p class="text-white-75 mb-0">Subscribe & get all related jobs notification.</p>
              </div>
            </div>
            <!-- end col -->
            <div class="col-sm-auto">
              <button class="btn btn-danger" type="button">
                Subscribe Now <i class="ri-arrow-right-line align-bottom"></i>
              </button>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </section>
      <!-- end cta -->

      <!-- Start footer -->
      <!-- <footer class="custom-footer bg-dark py-5 position-relative">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mt-4">
              <div>
                <div>
                  <img src="assets/images/logo-light.png" alt="logo light" height="17" />
                </div>
                <div class="mt-4 fs-13">
                  <p>Premium Multipurpose Admin & Dashboard Template</p>
                  <p>
                    You can build any type of web application like eCommerce, CRM, CMS, Project management apps, Admin
                    Panels, etc using Velzon.
                  </p>
                  <ul class="list-inline mb-0 footer-social-link">
                    <li class="list-inline-item">
                      <a href="javascript: void(0);" class="avatar-xs d-block">
                        <div class="avatar-title rounded-circle">
                          <i class="ri-facebook-fill"></i>
                        </div>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript: void(0);" class="avatar-xs d-block">
                        <div class="avatar-title rounded-circle">
                          <i class="ri-github-fill"></i>
                        </div>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript: void(0);" class="avatar-xs d-block">
                        <div class="avatar-title rounded-circle">
                          <i class="ri-linkedin-fill"></i>
                        </div>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript: void(0);" class="avatar-xs d-block">
                        <div class="avatar-title rounded-circle">
                          <i class="ri-google-fill"></i>
                        </div>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript: void(0);" class="avatar-xs d-block">
                        <div class="avatar-title rounded-circle">
                          <i class="ri-dribbble-line"></i>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-7 ms-lg-auto">
              <div class="row">
                <div class="col-sm-4 mt-4">
                  <h5 class="text-white mb-0">Company</h5>
                  <div class="text-muted mt-3">
                    <ul class="list-unstyled ff-secondary footer-list">
                      <li><a href="pages-profile.html">About Us</a></li>
                      <li><a href="pages-gallery.html">Gallery</a></li>
                      <li><a href="pages-team.html">Team</a></li>
                      <li><a href="pages-pricing.html">Pricing</a></li>
                      <li><a href="pages-timeline.html">Timeline</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 mt-4">
                  <h5 class="text-white mb-0">For Jobs</h5>
                  <div class="text-muted mt-3">
                    <ul class="list-unstyled ff-secondary footer-list">
                      <li><a href="apps-job-lists.html">Job List</a></li>
                      <li><a href="apps-job-application.html">application</a></li>
                      <li><a href="apps-job-new.html">New Job</a></li>
                      <li><a href="apps-job-companies-lists.html">Company List</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 mt-4">
                  <h5 class="text-white mb-0">Support</h5>
                  <div class="text-muted mt-3">
                    <ul class="list-unstyled ff-secondary footer-list">
                      <li><a href="pages-faqs.html">FAQ</a></li>
                      <li><a href="pages-faqs.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center text-sm-start align-items-center mt-5">
            <div class="col-sm-6">
              <div>
                <p class="copy-rights mb-0">
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  © Velzon - Themesbrand
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-sm-end mt-3 mt-sm-0">
                <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                  <li class="list-inline-item">
                    <a href="pages-privacy-policy.html">Privacy Policy</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="pages-term-conditions.html">Terms & Conditions</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="pages-privacy-policy.html">Security</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer> -->
      <!-- end footer -->

      <!--start back-to-top-->
      <button onclick="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
      </button>
      <!--end back-to-top-->
    </div>
    <!-- end layout wrapper -->
    <script src="/assets/js/login.js"></script>

    <%- include('./partials/vendor-scripts')%>

    <!--Swiper slider js-->
    <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

    <!--job landing init -->
    <script src="assets/js/pages/job-lading.init.js"></script>
  </body>
</html>
