<!DOCTYPE html>
<html
  lang="en"
  data-layout="vertical"
  data-topbar="light"
  data-sidebar="dark"
  data-sidebar-size="lg"
  data-sidebar-image="none"
  data-preloader="disable"
>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <%- include('./partials/title-meta', {"title": "Home"})%>

    <!--Swiper slider css-->
    <!-- <link href="assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" /> -->
    <span> <%- include('./partials/head-css')%></span>
  </head>

  <body data-bs-spy="scroll" data-bs-target="#navbar-example">
    <div class="layout-wrapper landing">
     <%- include('./partials/navbar', {"title": "Home"})%>

      <div class="container">
        <div class="col-xxl-9" >
          <div class="card">
            <div class="card-body" style="margin-top: 7rem">
              <h5 class="card-title ">About</h5>
              <p>
                Hi I'm Anna Adame, It will be as simple as Occidental; in fact, it will be Occidental. To an English
                person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what
                Occidental is European languages are members of the same family.
              </p>
              <p>
                You always want to make sure that your fonts work well together and try to limit the number of fonts you
                use to three or less. Experiment and play around with the fonts that you already have in the software
                you’re working with reputable font websites. This may be the most commonly encountered tip I received
                from the designers I spoke with. They highly encourage that you use different fonts in one design, but
                do not over-exaggerate and go overboard.
              </p>
              <div class="row">
                <!-- <div class="col-6 col-md-4">
                  <div class="d-flex mt-4">
                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                      <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                        <i class="ri-user-2-fill"></i>
                      </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                      <p class="mb-1">Designation :</p>
                      <h6 class="text-truncate mb-0">Lead Designer / Developer</h6>
                    </div>
                  </div>
                </div> -->
                <!--end col-->
                <!-- <div class="col-6 col-md-4">
                  <div class="d-flex mt-4">
                    <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                      <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                        <i class="ri-global-line"></i>
                      </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                      <p class="mb-1">Website :</p>
                      <a href="#" class="fw-semibold">www.velzon.com</a>
                    </div>
                  </div>
                </div> -->
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-body-->
          </div>
        </div>
        <!-- REVIEWS -->
        <h3 class="m-4 text-center">Reviews</h3>
        <div class="row">
          <% tour.reviews.forEach(review => { %>

          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-3"></h4>
                <div class="d-flex mb-4 align-items-center">
                  <div class="flex-shrink-0">
                    <img src="/assets/images/users/avatar-4.jpg" alt="" class="avatar-sm rounded-circle" />
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="card-title mb-1">Natasha Carey</h5>
                    <p class="text-muted mb-0">Manager</p>
                  </div>
                </div>
                <p class="text-muted">
                  Too much or too little spacing, as in the example below, can make things unpleasant for the reader.
                  The goal is to make your text as comfortable to read as possible.
                </p>
                <p class="text-muted mb-0">
                  This response is important for our ability to learn from mistakes, but it alsogives rise to
                  self-criticism.
                </p>
              </div>
              <div class="card-footer text-center">
                <% let data = [1, 2, 3, 4, 5] %>
                
                <% for(var i=0; i < data.length; i++) { %>
                <i class="bi bi-star<%= review.rating >= data[i] ? "-fill" : "" %>"></i>

                
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class= "col-lg-6 col-xl-6 mt-4" >
          <div class="card card-body">
              <div class="avatar-sm mb-3">
                  <div class="avatar-title bg-soft-success text-success fs-17 rounded">
                      <i class="ri-smartphone-line"></i>
                  </div>
              </div>
              <h4 class="card-title">Book Tour</h4>
              <p class="card-text text-muted">Send a link to apply on mobile device. Appropriately communicate one-to-one technology.</p>
              <a href="" data-tour-id=<%= tour.id %> class="btn btn-success">Book Now</a>
           </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/login.js"></script>

    <%- include('./partials/vendor-scripts')%>
    <!-- swiper js -->
    <script src="/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- profile init js -->
    <script src="/assets/js/pages/profile.init.js"></script>
     <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

    <!--job landing init -->
    <script src="assets/js/pages/job-lading.init.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>
  </body>
</html>
